@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 14px;
}
body{
  font-family: 'Lato', sans-serif;
}
.counter_heading{
  margin: 1rem;
}
.counter_button{
  width: 100px;
  cursor: pointer;
}
